.content {
  width: 100%;
  height: fit-content;
}

.content__part {
  width: 100%;
  min-height: 70vh;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.content__current {
  height: 70vh;
}

.content__daily  {
}

.content__hourly {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 10px;
  padding: 0.5rem;
  padding-bottom: 0;
}

.content__current_active {
  display: flex;
}

.content__daily_active {
  display: flex;
  gap: 3vh;
  padding: 3vh 0;
}
