@use 'switch';
@use 'nav';
@use 'form';

.header {
  height: calc(30vh - 40px);
  max-height: calc(30vh - 40px);
  width: calc(100% - 20px);
  padding: 20px 10px;
}

.header__form {
}

.header__switch {
  transform: scale(1.3);
}

.header__city-name {
}

.header__nav {
  width: 100%;
}
