@use 'header';
@use 'content';
@use 'panel';
@use 'loading';

:root {
  font-size: 100%;
}

.body {
  --main-color: yellow;
  --accent-color: red;
  --text-color: black;
  background-color: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.body_theme_dark {
  --main-color: red;
}
