@use 'header';
@use 'content';
@use 'panel';
@use 'loading';

:root {
  font-size: 100%;
}

.body {
  --main-color: linear-gradient(rgb(231, 191, 0), rgb(229, 112, 0));
  --panel-color: rgba(255, 255, 255, 0.2);
  --text-color: black;
  background: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.body_theme_dark {
  --main-color: linear-gradient(rgb(92, 107, 204), rgb(74, 18, 151));
  --panel-color: rgb(86, 81, 118);
}
