.nav {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.nav__tab {
  flex-grow: 1;
  text-align: center;
  height: fit-content;
  padding: 10px 0;
  border: 1px solid transparent;
  position: relative;
  z-index: 99;
}

.nav__tab_active {
  border: 1px solid black;
}
