.nav {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  gap: 10px;
}

.nav__tab {
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid transparent;
  position: relative;
  z-index: 99;
  text-decoration: none;
  border-radius: 10px;
}

.nav__tab:visited {
  color: unset;
}

.nav__tab_active {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 6px hsla(0deg, 0%, 0.3);
}
