.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  height: 100%;
}

.panel__main {
  --color_rgb: rgb(100,100,100)
  width: 100%;
  display: flex;
  height: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.panel_type_current {
  font-size: 1rem;
  height: 100%;

  .panel__weather-icon {
    margin: -7% 0;
  }
  .panel__main {
    font-size: 1.3rem;
  }
  .panel__text_type_desc {
    width: 40%;
    margin-left: -6vw;
  }
}

// box-shadow: 0 0 4px hsl(0deg, 0%, 44%);

.panel_type_daily {
  box-shadow: 0 0 8px rgba(0, 0, 0, 35%);

  .panel__text_type_feels-like {
    display: none;
    order: 3;
    width: 100%;
  }

  .panel__main {
    flex-wrap: nowrap;
    height: 24%;
    margin-bottom: 2vh;
  }

  .panel__weather-icon {
    margin: -7% -5%;
    margin-right: -8%;
  }

  .panel__text_type_temp {
    order: 2;
    padding: 0;
  }

  .panel__text_type_desc {
    order: 1;
  }
}

.panel_type_hourly {
  min-width: 30vw;
  width: 30vw;
  height: 22%;
  padding: 0;
  border-left: 2px solid rgba(255, 255, 255, 30%);
  border-right: 2px solid rgba(255, 255, 255, 30%);

  .panel__main {
    flex-direction: column;
    font-size: 1rem;
    height: fit-content;
    margin-bottom: 0;
  }
  .panel__weather-icon {
    margin: -10% 0;
    width: 60%;
  }
  .panel__text_type_temp {
    font-size: 1.3rem;
  }
  .panel__text {
    padding: 0;
  }
}

.panel_type_daily-temps {
  font-weight: bold;
  min-width: 20vw;
  width: 20vw;
  text-align: center;
  border-left: 2px solid rgba(255, 255, 255, 30%);
  border-right: 2px solid rgba(255, 255, 255, 30%);

}

.panel__daily-temps {
  display: none;
  flex-direction: row;
  overflow-x: scroll;
  gap: 10px;
  padding: 20px 10px;
}

.panel_active {
  .panel__daily-temps,
  .panel__more-info_type_daily {
    display: flex;
  }

  .panel__text_type_feels-like {
    display: block;
  }

  .panel__main {
    flex-wrap: wrap;
    height: 30%;
  }
}

.panel__weather-icon {
  width: 40%;
  filter: var(--filter)
}

.panel__text {
  text-align: center;
  height: fit-content;
  font-size: 1em;
  padding: 0.5rem 0;
}

.panel__text_type_temp {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 15%;
}

.panel__text_type_desc  {
  font-weight: bold;
}

.panel__more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  max-height: 40%;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 40%);
}

.panel__more-info_half {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
  .panel__text {
    padding: 0.25rem 0;
  }
}

.panel__label {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel__more-info_type_daily {
  display: none;
}

.panel__label-icon {
  // height: 30%;
 // height: 60px;
 width: 100%;
 max-width: 60%;
  filter: invert(1);
}
