.panel {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0 0 2px hsl(0deg, 0%, 0.47);
}

.panel__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--panel-color);
  box-shadow: 0 0 4px hsl(0deg, 0%, 0.44);
}

.panel_type_current {
}

.panel_type_daily {
}

.panel_type_hourly {
  min-width: 30vw;
  width: 30vw;
  font-size: 14px;
}

.panel_type_hourly .panel__main {
  flex-direction: column;
}

.panel__hourly-time {
}

.panel_type_daily-temps {
  font-weight: bold;
  min-width: 30vw;
  width: 40vw;
  text-align: center;
}

.panel__daily-temps {
  display: none;
  flex-direction: row;
  overflow-x: scroll;
  gap: 10px;
  padding: 10px;
}

.panel_active .panel__daily-temps,
.panel_active .panel__more-info_type_daily {
  display: flex;
}

.panel__weather-icon {
  width: 49%;
  height: 49%;
  margin: 0 auto;
}

.panel__text {
  text-align: center;
}

.panel__more-info {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 8px hsl(0deg, 0%, 0.38);
}

.panel__more-info_half {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.panel__label {
}

.panel__more-info_type_daily {
  display: none;
}

.panel__label-icon {
  width: 60px;
  height: 60px;
}
