#content {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  height: fit-content;
}

#content > * {
  min-width: 100%;
  width: 100%;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.full-panel {
  padding: 10px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 20px;
  border: 1px solid white;
}

.panel-part {
  border: 1px solid yellow;
  display: flex;
  border-radius: 20px;
  width: 95%;
  align-items: center;
  justify-content: space-evenly;
}

.top-panel {
  flex-wrap: wrap;
}

.top-panel img {
  width: 49%;
  height: 49%;
}

.temp {
  font-size: 2.5rem;
  width: 49%;
  text-align: center;
}

.desc {
  text-align: left;
  width: fit-content;
  font-size: 1.3rem;
}

.feels {
  min-width: 37%;
}

.med-label,
.lower-label > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.panel-icon {
  width: 60px;
  height: 60px;
}

.med-text,
.lower-text {
  font-size: 1.2rem;
  padding-top: 5px;
}

.full-panel.active {
  min-height: 90vh;
}

.med-panel,
.lower-panel {
  padding: 20px 0;
  flex-grow: 0.5;
}

#content > .active {
  display: flex;
}

.daily-panel > .med-panel,
.daily-panel > .lower-panel {
  display: none;
}

.full-panel.active > * {
  display: flex;
}

#current-div {
}

#daily-div  {
}
