/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f37e21;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #2196f3;
}

.switch__checkbox:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch__label-div {
  position: absolute;
  z-index: 99;
  display: flex;
  font-size: 18px;
  color: black;
  width: 80%;
  justify-content: space-between;
  top: 7px;
  left: 5px;
}
